$spacexxxs:7.35px;
$spacexxs:8.63px;
$spacexs:9.22px;
$spacesm:10.07px;
$spacenm:10.76px;
$spacemd:12.94px;
$spacelg:13.84px;
$spacexl:17.26px;
$spacexxl:18.45px;
$spacexxxl:27.67px;
$spacexxxxl:40px;